.nav {
    top: 0;
    z-index: 100;
}

.ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
}

.ul li {
    padding: 15px;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

.active {
    text-decoration: none;
    border-bottom: 4px solid rgb(185, 183, 183);
}

.inactive {
    text-decoration: none;
}

@media (min-width:768px) {
    .ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
    }

    .ul li {
        color: white;
        font-size: 20px;
        margin-bottom: 0;
    }
}