.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;
    color: white;
}

.main .p {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.main h1 {
    margin: 0;
}

.btn {
    border: none;
    background-color: white;
    color: black;
    padding: 12px;
    font-size: 20px;
    border-radius: 7px;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: rgb(198, 188, 188);
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
}